In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('../data/beer_reviews.csv')

In [4]:
beer_advocate_df = df.copy()

In [5]:
info = beer_advocate_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1586614 entries, 0 to 1586613
Data columns (total 13 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   brewery_id          1586614 non-null  int64
 1   brewery_name        1586599 non-null  object
 2   review_time         1586614 non-null  int64
 3   review_overall      1586614 non-null  float64
 4   review_aroma        1586614 non-null  float64
 5   review_appearance   1586614 non-null  float64
 6   review_profilename  1586266 non-null  object
 7   beer_style          1586614 non-null  object
 8   review_palate       1586614 non-null  float64
 9   review_taste        1586614 non-null  float64
 10  beer_name           1586614 non-null  object
 11  beer_abv            1518829 non-null  float64
 12  beer_beerid         1586614 non-null  int64
dtypes: float64(6), int64(3), object(4)
memory usage: 157.4+ MB

In [6]:
beer_advocate_df.isnull().sum()

brewery_id                0
brewery_name             15
review_time               0
review_overall            0
review_aroma              0
review_appearance         0
review_profilename      348
beer_style                0
review_palate             0
review_taste              0
beer_name                 0
beer_abv              67785
beer_beerid               0
dtype: int64

## Notes / TODO
* Eliminate null brewery_name rows - Can't track location and other important aspects.
* Keep null review_profilename and beer_abv - Will not be focusing ont hese fetures so missing data is not important.
* review_time(int) to a pandas date_time

In [ ]:
beer_advocate_df_1.describe()

In [ ]:
beer_advocate_df_1.isnull().sum()

In [ ]:
beer_advocate_df_1.dropna(inplace=True)

In [ ]:
beer_advocate_df_1.isnull().sum()

In [ ]:
BA_state_df = beer_advocate_df_1.loc[:, ['brewery_id', 'brewery_name', 'review_overall']]

In [ ]:
BA_state_df.info()

In [ ]:
BA_state_df_agg = BA_state_df.groupby('brewery_name').agg({'brewery_id': [('brewery_id_most_common', lambda x: pd.Series.mode(x)[0]),
                                                        'count',
                                                        ('unique_brewery_ids', lambda x: len(set(x)))],
                                         'review_overall': [('Mean Rating' , lambda x:round(x.mean(), 2))]})

In [ ]:
BA_state_df_agg.reset_index(inplace=True)

In [ ]:
BA_state_df_agg

In [ ]:
BA_state_df_agg.info()

In [ ]:
BA_state_df_2 = BA_state_df.groupby('brewery_id').agg({'review_overall' : lambda x: round(x.mean(), 2), 'brewery_name' : lambda column: column.iloc[0], 'brewery_id' : [('review_count', 'count')]}).reset_index()

In [ ]:
BA_state_df_2.head(25)