In [69]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [70]:
df = pd.read_csv('data/beer_reviews.csv')

In [71]:
beer_advocate_df = df.copy()

In [72]:
beer_advocate_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1586614 entries, 0 to 1586613
Data columns (total 13 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   brewery_id          1586614 non-null  int64
 1   brewery_name        1586599 non-null  object
 2   review_time         1586614 non-null  int64
 3   review_overall      1586614 non-null  float64
 4   review_aroma        1586614 non-null  float64
 5   review_appearance   1586614 non-null  float64
 6   review_profilename  1586266 non-null  object
 7   beer_style          1586614 non-null  object
 8   review_palate       1586614 non-null  float64
 9   review_taste        1586614 non-null  float64
 10  beer_name           1586614 non-null  object
 11  beer_abv            1518829 non-null  float64
 12  beer_beerid         1586614 non-null  int64
dtypes: float64(6), int64(3), object(4)
memory usage: 157.4+ MB

In [73]:
beer_advocate_df.isnull().sum()

brewery_id                0
brewery_name             15
review_time               0
review_overall            0
review_aroma              0
review_appearance         0
review_profilename      348
beer_style                0
review_palate             0
review_taste              0
beer_name                 0
beer_abv              67785
beer_beerid               0
dtype: int64

## Notes / TODO
* Eliminate null brewery_name rows - Can't track location and other important aspects.
* Keep null review_profilename and beer_abv - Will not be focusing ont hese fetures so missing data is not important.
* review_time(int) to a pandas date_time

In [74]:
beer_advocate_df_1 = beer_advocate_df.loc[:, ['brewery_id', 'brewery_name', 'review_overall',
                                         'review_aroma', 'review_appearance', 'review_palate',
                                         'review_taste', 'beer_style', 'beer_name',
                                         'beer_beerid']]

In [75]:
beer_advocate_df_1.describe()

,brewery_id,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_beerid
count,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06
mean,3.130099e+03,3.815581e+00,3.735636e+00,3.841642e+00,3.743701e+00,3.792860e+00,2.171279e+04
std,5.578104e+03,7.206219e-01,6.976167e-01,6.160928e-01,6.822184e-01,7.319696e-01,2.181834e+04
min,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,3.000000e+00
25%,1.430000e+02,3.500000e+00,3.500000e+00,3.500000e+00,3.500000e+00,3.500000e+00,1.717000e+03
50%,4.290000e+02,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,1.390600e+04
75%,2.372000e+03,4.500000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.500000e+00,3.944100e+04
max,2.800300e+04,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,7.731700e+04

In [76]:
beer_advocate_df_1.isnull().sum()

brewery_id            0
brewery_name         15
review_overall        0
review_aroma          0
review_appearance     0
review_palate         0
review_taste          0
beer_style            0
beer_name             0
beer_beerid           0
dtype: int64

In [77]:
beer_advocate_df_1.dropna(inplace=True)

In [78]:
beer_advocate_df_1.isnull().sum()

brewery_id           0
brewery_name         0
review_overall       0
review_aroma         0
review_appearance    0
review_palate        0
review_taste         0
beer_style           0
beer_name            0
beer_beerid          0
dtype: int64

In [79]:
BA_state_df = beer_advocate_df_1.loc[:, ['brewery_id', 'brewery_name', 'review_overall']]

In [80]:
BA_state_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1586599 entries, 0 to 1586613
Data columns (total 3 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   brewery_id      1586599 non-null  int64
 1   brewery_name    1586599 non-null  object
 2   review_overall  1586599 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 48.4+ MB

In [87]:
BA_state_df_agg = BA_state_df.groupby('brewery_name').agg({'brewery_id': [('brewery_id_most_common', lambda x: pd.Series.mode(x)[0]),
                                                        'count',
                                                        ('unique_brewery_ids', lambda x: len(set(x)))],
                                         'review_overall': [('Mean Rating' , lambda x:round(x.mean(), 2))]})

In [89]:
BA_state_df_agg.reset_index(inplace=True)

In [90]:
BA_state_df_agg

                 brewery_name             brewery_id                           \
                              brewery_id_most_common count unique_brewery_ids
0           't Hofbrouwerijke                  13160    37                  1
1       (512) Brewing Company                  17863   304                  1
2       10 Barrel Brewing Co.                  16873    84                  1
3        1516 Brewing Company                   4473    34                  1
4     16 Mile Brewing Company                  20688    92                  1
...                       ...                    ...   ...                ...
5737       Ölvisholt Brugghús                  17208    97                  1
5738            Öufi Brauerei                  18851     1                  1
5739              Ølfabrikken                  11063   586                  1
5740           Ørbæk Bryggeri                  15051    18                  1
5741     Łódzkie Browary S.A.                   5498     1                  1

     review_overall
        Mean Rating
0              3.70
1              4.07
2              3.73
3              4.13
4              3.57
...             ...
5737           3.91
5738           3.50
5739           4.07
5740           3.58
5741           3.50

[5742 rows x 5 columns]

In [91]:
BA_state_df_agg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5742 entries, 0 to 5741
Data columns (total 5 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   (brewery_name, )                      5742 non-null   object
 1   (brewery_id, brewery_id_most_common)  5742 non-null   int64
 2   (brewery_id, count)                   5742 non-null   int64
 3   (brewery_id, unique_brewery_ids)      5742 non-null   int64
 4   (review_overall, Mean Rating)         5742 non-null   float64
dtypes: float64(1), int64(3), object(1)
memory usage: 224.4+ KB

In [124]:
BA_state_df_2 = BA_state_df.groupby('brewery_id').agg({'review_overall' : lambda x: round(x.mean(), 2), 'brewery_name' : lambda column: column.iloc[0], 'brewery_id' : [('review_count', 'count')]}).reset_index()

In [125]:
BA_state_df_2.head(25)

,brewery_id,review_overall,brewery_name,brewery_id
,,<lambda>,<lambda>,review_count
0,1,3.82,"Plzensky Prazdroj, a. s.",1357
1,2,3.16,Yellow Rose Brewing Company,40
2,3,3.56,Abita Brewing Co.,5357
3,4,4.06,Allagash Brewing Company,7321
4,5,3.65,Yakima Brewing Co. / Bert Grant's Ales,728
5,6,3.87,Brouwerij Slaghmuylder,367
6,8,3.66,Widmer Brothers Brewing Company,3775
7,9,3.82,Whitbread PLC,897
8,10,3.96,Whim Ales,56
9,11,4.17,North East Brewing Company,23
10,13,4.25,Commonwealth Fish & Beer Company,14
11,14,4.05,Cambridge Brewing Company,1202
12,15,4.02,Rock Bottom Restaurant and Brewery,25
13,18,3.76,Freeminer Brewery Ltd.,208
14,20,3.80,Wachusett Brewing Company,1315
15,21,3.01,Union Export Brewery,73
16,22,4.03,Unibroue,13921
17,23,3.46,Twisted Pine Brewing Company,479
18,24,4.10,Traquair House Brewery Lld,1166
19,25,4.50,Tollemache & Cobbold Brewery Ltd,1
20,26,4.17,Three Floyds Brewing Co. & Brewpub,14039
21,28,3.94,Anchor Brewing Company,10062
22,29,2.81,Anheuser-Busch,15815
23,30,3.81,Avery Brewing Company,16107
24,31,3.77,Brauerei Pinkus Mueller,754